/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


body {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.privacy-notice {
  background-color: rgb(219, 241, 222);
  border: 2px solid rgba(255, 28, 28, 0.671);
}

/* main nav *********************************************/
.main-nav {
  display: grid;
  grid-template-columns: 10rem auto auto;
  grid-template-rows: 1fr auto;
}

.main-nav__display-area {
  border: 2px solid gold;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
}

.main-nav__cc-logo {
  grid-column-start: 1;
  grid-row-start: 1;
  display: inline-block;
  height: 7rem;
  width: auto;
}

.main-nav__user-links {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  border: 2px solid pink;
}

.main-nav__user-link {
  padding-right: 2rem;
  text-decoration: none;
}

.main-nav__about {
  grid-column-start: 2;
  grid-row-start: 1;
  background-color: rgb(141, 193, 238);
}

/* survey *********************************************/
.survey {
  border: 2px solid rgb(29, 56, 14);
  padding: 3rem;
}

.survey__category-tabs {
  border: 2px solid red;
  width: 5rem;
}

.survey__category-view {
  border: 3px solid #556677;
}

.survey__category-image {
  display: block;
  width: 4rem;
  height: auto;
  padding: .5rem;
}

.survey__about {
  background-color: bisque;
}
