<div class="eventbrite">
  <h2 class="eventbrite__title">Registered via EventBrite?</h2>
  <a class="eventbrite__confirmation-link" href="#">Please click here to confirm your EventBrite registration</a>
</div>
