<%= stylesheet_link_tag 'application', media: 'all' %>

<div class="survey__about">
  <h1>Cooler Communities</h1>
  <h3>This survey helps you choose which actions to undertake to reduce your carbon footprint.</h3>
  <ul>
    <li> It is used to determine the value in points, equivalent to lbs. of CO2 emission or trees.</li>
    <li>CO2 and cost estimates are based on assumptions of average energy consumption and fuel prices, and are not intended to be exact.</li>
    <li>Copyright &copy; 2019, Town of Concord Comprehensive Sustainable Energy Committee.</li>
    <li>See notice below for privacy information.</li>
  </ul>
</div>
