<div class="summary-page">
<h1>Thank you!</h1>

<h3>You’ve chosen to commit to the following actions.</h3>

  <p>
    {
      "categorySelection1": {
        "eating": "Yes",
        "waterHeating": "Yes",
        "solarPower": "Yes",
        "yardLandscaping": "Yes"
      },
      "goalMeals": {
        "goalMealsBeefLambPorkPerWeek": "4",
        "goalMealsPoultryCheeseFishSeafood": "4",
        "goalMealsVegetarianCheeseEggs": "5",
        "goalMealsVeganNonDairy": "3"
      },
      "heatingCooling": {
        "heatingSystemAssessment": "Yes",
        "upgradeBoilerFurnace": "No",
        "installAirSourceHeatPump": "Yes"
      },
      "homeAppliances": {
        "replaceRefridgerator": "Yes",
        "replaceClothesWasher": "No"
      },
      "homeLaundry": {
        "goalLaundryColdWashesPerWeek": "3",
        "goalLaundryLineDryPerWeek": "3"
      },
      "bulbsLeds": {
        "bulbSwap": "Yes",
        "bulbsLeds": "Yes"
      },
      "solarPower": {
        "solarAssessment": "Yes",
        "installSolarPanels": "No"
      },
      "transportationCars": {
        "car1": "keep",
        "car2": "replace"
      },
      "transportationMileage": {
        "Car1": "12000",
        "Car2": "4000"
      },
      "mileage-reduction-options": [
        "carpooling",
        "bus/bike/walk school/work",
        "carpool",
        "public trans"
      ],
      "reuseRecycle": {
        "refillableContainers": "ues",
        "buyBulk": "yes",
        "buyRecycledMaterials": "maybe",
        "buyUsed": "you don't know me"
      },
      "waterHeating": {
        "hotWaterAssessment": "Yes",
        "replaceWithHeatPump": "No"
      },
      "weatherizationThermostats": {
        "signupEnergyAudit": "Yes",
        "insulateAirSealHome": "No",
        "installProgrammableThermostats": "Yes"
      },
      "yardLandscaping1": {
        "lawnAssessment": "Yes",
        "useRakeOrElectricBlower": "No",
        "replaceGasMowerWithManualOrElectric": "Yes",
        "lowerMowingFrequency": "No"
      },
      "yardLandscaping": {
        "reduceLawnSqFootage": "120",
        "numberLawnFertilizerApplications": "3"
      }
    }
  </p>

</div>
