<div class="survey">
  <div class="survey__category-tabs"></div>
  <div class="survey__category-view" id="solar">=== solar survey here ===</div>
  <div class="survey__category-view" id="weatherization">=== weatherization survey here ===</div>
  <div class="survey__category-view" id="yard">">=== yard survey here ===</div>
  <div class="survey__category-view" id="lighting">=== lighting survey here ===</div>
  <div class="survey__category-view" id="recycle">=== recycle survey here ===</div>
  <div class="survey__category-view" id="appliances">=== appliances survey here ===</div>
  <div class="survey__category-view" id="water">=== water survey here ===</div>
  <div class="survey__category-view" id="heating">=== heating survey here ===</div>
  <div class="survey__category-view" id="eating">===  eating survey here ===</div>
  <div class="survey__category-view" id="transportation">===  transportation survey here ===</div>
  </div>
  <div class="survey__points">
    <div class="survey__points-category-total">category-total</div>
    <div class="survey__points-community-total">community-total</div>
    <div class="survey__points-user-total">user-total</div>
    <div class="survey__points-group-total">group-total</div>
  </div>
</div>
