<% if current_user %>
  <div class="survey">
    <div class="survey__category-tabs"></div>
    <div class="survey__display">

      <div class="landing-page__about">
        <p><strong>A survey to help you choose actions that reduce your carbon footprint. </strong>It is used to determine
          the value in points, equivalent to lbs. of CO2 emission or trees. CO2 and cost estimates are based on
          assumptions of average energy consumption and fuel prices, and are not intended to be exact. See notice below
          for privacy information.</p>
        <p>Copyright &copy; 2019, Town of Concord Comprehensive Sustainable Energy Committee.</p>
      </div>
    </div>

    <div class="summary">
      <%= render partial: 'surveys/summary' %>
    </div>

    <div class="survey__category-view" id="yard">">=== yard survey here ===</div>
    <div class="survey__category-view" id="water">=== water survey here ===</div>
    <div class="survey__category-view" id="solar">=== solar survey here ===</div>
    <div class="survey__category-view" id="lighting">=== lighting survey here ===</div>
    <div class="survey__category-view" id="appliances">=== appliances survey here ===</div>
    <div class="survey__category-view" id="transportation">=== transportation survey here ===</div>
    <div class="survey__category-view" id="eating">=== eating survey here ===</div>
    <div class="survey__category-view" id="recycle">=== recycle survey here ===</div>
    <div class="survey__category-view" id="heating_cooling">=== heating_cooling survey here ===</div>
  </div>
  <div class="survey__points">
    <div class="survey__points-category-total">
      <h3>Total Category Commitments:</h3>
      <div class="survey__points-category-total--title"></div>
      <div class="survey__points-category-total--points"></div>
      <div class="survey__points-category-total--co2">Or 2 tons of CO2</div>
    </div>
    <div class="survey__points-community-total">
      <h3>Total Community Commitments:</h3>
      <div class="survey__points-community-total--title"></div>
      <div class="survey__points-community-total--points"></div>
      <div class="survey__points-community-total--co2">Or 2 tons of CO2</div>
    </div>
    <div class="survey__points-user-total">
      <h3>Your Total Commitments:</h3>
      <div class="survey__points-user-total--title"></div>
      <div class="survey__points-user-total--points"></div>
      <div class="survey__points-user-total--co2">Or 2 tons of CO2</div>
    </div>
    <div class="survey__points-group-total">
      <h3>Total Group Commitments:</h3>
      <div class="survey__points-group-total--title"></div>
      <div class="survey__points-group-total--points"></div>
      <div class="survey__points-group-total--co2">Or 2 tons of CO2</div>
    </div>
  </div>
<% end %>
