<div class="survey">
  <h1>Cooler Communities</h1>
  <h3>This survey helps you choose which actions to undertake to reduce your carbon footprint.</h3>
  <ul>
    <li> It is used to determine the value in points, equivalent to lbs. of CO2 emission or trees.</li>
    <li>CO2 and cost estimates are based on assumptions of average energy consumption and fuel prices, and are not intended to be exact.</li>
    <li>Copyright &copy; 2019, Town of Concord Comprehensive Sustainable Energy Committee.</li>
    <li>See notice below for privacy information.</li>
  </ul>
</div>

<div class="survey">
  <div class="survey__category-tabs"></div>
    <img src="/assets/images/solar.png" class="survey__category-image" />
    <img src="/assets/images/yard.png" class="survey__category-image" />
    <img src="/assets/images/lighting1.png" class="survey__category-image" />
    <img src="/assets/images/weatherization.png" class="survey__category-image" />
    <img src="/assets/images/recycle.png" class="survey__category-image" />
    <img src="/assets/images/appliances1.png" class="survey__category-image" />
    <img src="/assets/images/water-heating.png" class="survey__category-image" />
    <img src="/assets/images/heating-cooling.png" class="survey__category-image" />
    <img src="/assets/images/eating1.png" class="survey__category-image" />
    <img src="/assets/images/transportation1.png" class="survey__category-image" />
  </div>

  <div class="survey__category-view" id="solar"></div>
  <div class="survey__category-view" id="yard">">=== YARD SURVEY ===</div>
  <div class="survey__category-view" id="lighting1">=== lighting1 SURVEY ===</div>
  <div class="survey__category-view" id="weatherization">=== weatherization SURVEY ===</div>
  <div class="survey__category-view" id="recycle">=== recycle SURVEY ===</div>
  <div class="survey__category-view" id="appliances1">=== appliances1 SURVEY ===</div>
  <div class="survey__category-view" id="water-heating">=== water-heating SURVEY ===</div>
  <div class="survey__category-view" id="heating-cooling">=== heating-cooling SURVEY ===</div>
  <div class="survey__category-view" id="eating1">===  eating1 SURVEY ===</div>
  <div class="survey__category-view" id="transportation1">===  transportation1 SURVEY ===</div>
  </div>
</div>
