<div class="survey">
  <h1>Cooler Communities</h1>
  <h3>This survey helps you choose which actions to undertake to reduce your carbon footprint.</h3>
  <ul>
    <li> It is used to determine the value in points, equivalent to lbs. of CO2 emission or trees.</li>
    <li>CO2 and cost estimates are based on assumptions of average energy consumption and fuel prices, and are not intended to be exact.</li>
    <li>Copyright &copy; 2019, Town of Concord Comprehensive Sustainable Energy Committee.</li>
    <li>See notice below for privacy information.</li>
  </ul>
</div>

<div id="solar">=========SOLAR SURVEY SHOULD BE HERE=====</div>
<div id="yard">=========YARD SURVEY SHOULD BE HERE=====</div>
<div id="lighting1">=========lighting1 SURVEY SHOULD BE HERE=====</div>
<div id="weatherization">=========weatherization SURVEY SHOULD BE HERE=====</div>
<div id="recycle">=========recycle SURVEY SHOULD BE HERE=====</div>
<div id="appliances1">=========appliances1 SURVEY SHOULD BE HERE=====</div>
<div id="water-heating">=========water-heating SURVEY SHOULD BE HERE=====</div>
<div id="heating-cooling">=========heating-cooling SURVEY SHOULD BE HERE=====</div>
<div id="eating1">========= eating1 SURVEY SHOULD BE HERE=====</div>
<div id="transportation-cars">========= transportation-cars SURVEY SHOULD BE HERE=====</div>
<div id="transportation-mileage">========= transportation-mileage SURVEY SHOULD BE HERE=====</div>
<div id="transportation-mileage-how">========= transportation-mileage-how SURVEY SHOULD BE HERE=====</div>

