<div class="survey">
  <div class="survey__category-tabs"></div>

  <div class="survey__category-view" id="solar"></div>
  <div class="survey__category-view" id="yard">">=== YARD SURVEY ===</div>
  <div class="survey__category-view" id="lighting1">=== lighting1 SURVEY ===</div>
  <div class="survey__category-view" id="weatherization">=== weatherization SURVEY ===</div>
  <div class="survey__category-view" id="recycle">=== recycle SURVEY ===</div>
  <div class="survey__category-view" id="appliances1">=== appliances1 SURVEY ===</div>
  <div class="survey__category-view" id="water-heating">=== water-heating SURVEY ===</div>
  <div class="survey__category-view" id="heating-cooling">=== heating-cooling SURVEY ===</div>
  <div class="survey__category-view" id="eating1">===  eating1 SURVEY ===</div>
  <div class="survey__category-view" id="transportation1">===  transportation1 SURVEY ===</div>
  </div>
</div>
