/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.privacy-notice {
  background-color: rgb(219, 241, 222);
  border: 2px dashed rgba(255, 28, 28, 0.671);
}

/* main nav *********************************************/
.main-nav {
  display: grid;
  grid-template-columns: 10rem auto auto;
  grid-template-rows: 1fr auto;
}

.main-nav__display-area {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
}

.main-nav__cc-logo {
  grid-column-start: 1;
  grid-row-start: 1;
  display: inline-block;
  height: 7rem;
  width: auto;
}

.main-nav__user-links {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  padding-left: 5rem;
}

.main-nav__user-link {
  padding-right: 2rem;
  text-decoration: none;
}

.main-nav__about {
  grid-column-start: 2;
  grid-row-start: 1;
  background-color: rgb(141, 193, 238);
}

/* survey *********************************************/
.survey {
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
}

.survey__category-tabs {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 5rem;
  margin-right: 2rem;
}

.survey__category-view {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 3px dashed #556677;
  display: none;
}

.survey__category-image {
  border: 2px dashed rgb(29, 175, 85);
  display: block;
  width: 4rem;
  height: auto;
  padding: .5rem;
}

.survey__about {
  background-color: bisque;
}
/* survey points *********************************************/

.survey__points {
  /* border: 2px dashed blue; */
  display: grid;
  height: 15rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 45% 45%;
  padding: 0 1rem 1rem 1rem;
  margin: 0 4rem;
}

.survey__points-category-total {
  grid-column-start: 1;
  grid-row-start: 2;
  border: 2px dashed rgb(0, 255, 13);
  box-shadow: .3rem .3rem .2rem .05rem rgba(161, 161, 167, 0.829);
  margin: 0 1rem 1rem 0;
}

.survey__points-community-total {
  grid-column-start: 2;
  grid-row-start: 2;
  border: 2px dashed rgb(25, 99, 89);
  box-shadow: .3rem .3rem .2rem .05rem rgba(161, 161, 167, 0.829);
  margin-bottom: 1rem;
}

.survey__points-user-total {
  grid-column-start: 1;
  grid-row-start: 3;
  border: 2px dashed rgb(255, 136, 0);
  box-shadow: .3rem .3rem .2rem .05rem rgba(161, 161, 167, 0.829);
  margin-right: 1rem;
}


.survey__points-group-total {
  grid-column-start: 2;
  grid-row-start: 3;
  border: 2px dashed rgb(255, 0, 0);
  box-shadow: .3rem .3rem .2rem .05rem rgba(161, 161, 167, 0.829);
}

