<div class="admin__nav">
  <%= link_to 'Users', users_path, class: 'admin__nav-link' %>
  <%= link_to 'Report:Users', '/users_report.csv', class: 'admin__nav-link'  %>
  <%#= link_to 'Report > Summaries', summaries_report_path, class: 'admin__nav-link'  %>
</div>
