<div class="admin-nav">
  <%= link_to 'Affiliations', affiliations_path, class: 'admin-nav-link' %>
  <span class="main-nav__link-separator"> | </span>
  <%= link_to 'Questions', questions_path, class: 'admin-nav-link' %>
  <span class="main-nav__link-separator"> | </span>
  <%= link_to 'Users', users_path, class: 'admin-nav-link' %>
  <span class="main-nav__link-separator"> | </span>
  <%= link_to 'CSV UsersReport', '/all_users_summary_csv.csv', class: 'admin-nav-link' %>
</div>
