<p class="privacy-notice">
  <strong>Privacy Notice:</strong>
  Information collected through the Cooler Concord Fair and ongoing initiative will not be shared
  with any third parties, and can be used for the following purposes only: calculation of points to
  show the relative values of different measures; or used by Town of Concord staff or members of
  the Comprehensive Sustainable Energy Committee to assist participants in with follow up actions
  in the areas they have selected. Copyright &copy; 2019, Town of Concord Comprehensive Sustainable Energy Committee.
</p>
