<div class="main-nav">
  <img src="/assets/images/cc-logo.png" class="cc-logo" alt="cc-logo"></img>
  <h2>
    <%= link_to "SignUp", new_user_registration_path %> |
    <%= link_to "SignIn", user_session_path %> |
    <%= link_to "Reports", '#' %> |
    <%= link_to "Admin", '#' %>
  </h2>
</div>
