<div class="main-nav">
  <img src="/assets/images/cc-logo.png" class="main-nav__cc-logo" alt="cc-logo"></img>
  <div class="main-nav__user-links">
    <h2>
      <%= link_to "Register", new_user_registration_path, class: "main-nav__user-link" %>
      <%= link_to "Login", user_session_path, class: "main-nav__user-link" %>
      <%= link_to "Reports", '#', class: "main-nav__user-link" %>
      <%= link_to "About", '/about', class: "main-nav__user-link" %>
    </h2>
  </div>

  <div class="main-nav__display-area">
    <h1>Cooler Communities</h1>
  </div>
</div>
