<div class="survey__points>
  <div class="survey__category-total">
    <p>Category pts</p>
    <div class="survey__category-total--title"></div>
    <div class="survey__category-total--points">...</div>
  </div>
  <div class="survey__community-total">
    <p>Community pts</p>
    <div class="survey__community-total--title"></div>
    <div class="survey__community-total--points">community points</div>
  </div>
  <div class="survey__user-total">
    <p>My Total pts</p>
    <div class="survey__user-total--title"></div>
    <div class="survey__user-total--points">...</div>
  </div>
  <div class="survey__group-total">
    <p>My Group Total pts</p>
    <div class="survey__group-total--title"></div>
    <div class="survey__group-total--points">...</div>
  </div>
</div>
