<div class="survey__points">
  <div class="survey__community-total">
    <div class="survey__community-total--title">Community</div>
    <div class="survey__community-total--points">____</div>
  </div>
  <div class="survey__affiliation-total">
    <div class="survey__affiliation-total--title">Affiliation</div>
    <div class="survey__affiliation-total--points">____</div>
  </div>
  <div class="survey__category-total">
    <div class="survey__category-total--title">Category</div>
    <div class="survey__category-total--points">____</div>
  </div>
  <div class="survey__user-total">
    <div class="survey__user-total--title"><%= current_user.first_name %>'s total:</div>
    <div class="survey__user-total--points">____</div>
  </div>
</div>
