<div class="survey__points">
  <div class="survey__points-category-total">
    <p>Category pts</p>
    <div class="survey__points-category-total--title"></div>
    <div class="survey__points-category-total--points"></div>
    <div class="survey__points-category-total--co2">...</div>
  </div>
  <div class="survey__points-community-total">
    <p>Community pts</p>
    <div class="survey__points-community-total--title"></div>
    <div class="survey__points-community-total--points"></div>
    <div class="survey__points-community-total--co2">...</div>
  </div>
  <div class="survey__points-user-total">
    <p>My Total pts</p>
    <div class="survey__points-user-total--title"></div>
    <div class="survey__points-user-total--points"></div>
    <div class="survey__points-user-total--co2">...</div>
  </div>
  <div class="survey__points-group-total">
    <p>My Group Total pts</p>
    <div class="survey__points-group-total--title"></div>
    <div class="survey__points-group-total--points"></div>
    <div class="survey__points-group-total--co2">...</div>
  </div>
</div>
