<div class="welcome-message">
  <p>You must be logged in to see survey points tallied.</p>
  <p>For demo purposes, use the following credentials: </p>
  <p>username: <strong>demo</strong></p> 
  <p>password: <strong>password</strong></p> 
</div>
